# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare binary files to ensure Git does not treat them as LFS or modify them
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.svg text
